<div
    class="bg-white w-full p-3 lg:max-w-full lg:flex mt-5 transform hover:-translate-y-1 hover:shadow-md duration-500 dark:bg-warmgray-900">
    {{ if .Params.image }}
      <img
        alt="thumbnail"
        id="thumb"
        class="w-40 h-32 sm:h-1 object-cover rounded-lg border-2 border-gray-200 dark:border-warmgray-700"
        src="{{ .Params.image }}" />
    {{ else if .Site.Params.post.noimage }}
      <img
        alt="thumbnail"
        id="thumb"
        class="w-40 h-32 object-cover rounded-lg border-2 border-gray-200 dark:border-warmgray-700"
        src='{{ "https://images.unsplash.com/photo-1689267166689-795f4f536819?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" }}' />
    {{ end }}
    <div class="relative pl-4 p-2 justify-between leading-normal max-w-full w-full">
        <div class="text-gray-900 font-bold text-xl mb-2 dark:text-white">{{ .Title }}</div>
        <p class="text-gray-700 text-base pb-5 dark:text-gray-300">{{ substr .Summary 0 100 | plainify | htmlUnescape }}...</p>
        <p class="text-sm text-gray-600 absolute items-center left-0 bottom-0 dark:text-gray-400">
            By<span class="mr-1" style="color: rgb(127, 185, 255);"> {{ .Params.author }}</span>
        </p>
        <p class="text-sm text-gray-600 absolute items-center right-0 bottom-0 dark:text-gray-400">
            <span class="mr-2"></span>
              {{ .Date | time.Format "02 Jan 2006" }}
        </p>
    </div>
</div>