<div class="about-me">
  <h1>About Me</h1>
  <p
    style="
      text-align: center;
      background-color: #1e1e1e;
      padding: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: whitesmoke;
      font-weight: bold;
    "
  >
    <img
      src="https://avatars.githubusercontent.com/u/82930824?v=4"
      alt="Avatar"
      class="avatar"
    /><br />
    <a href="{{ site.github.repo }}">
      <img
        src="https://img.shields.io/badge/Author-Rajesh Bhola-yellow"
        alt="Rajesh Bhola"
        height="32"
      /> </a
    ><br />
    <span class="lead" style="font-size: 18px">Software Engineer</span>
    <br />

    <a href="https://www.linkedin.com/in/rajeshbhola1/">
      <i class="fab fa-linkedin"></i>
      <span class="sr-only">Visit Rajesh Bhola's LinkedIn Profile</span>
    </a>
    <a href="https://github.com/rajeshbhola?tab=repositories"
      ><i class="fab fa-github"></i>
      <span class="sr-only">Visit Rajesh Bhola's Github Profile</span>
    </a>
    <a href="https://x.com/therajeshbhola">
      <i class="fab fa-twitter"></i>
      <span class="sr-only">Visit Rajesh Bhola's Twitter Profile</span>
    </a>
    <a href="https://www.youtube.com/@bholarajesh">
      <i class="fab fa-youtube"></i>
      <span class="sr-only">Visit Rajesh Bhola's Youtube Profile</span>
    </a>
  </p>
</div>
