{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
  {{ if .Site.Params.widgets.display }}
  <div class="col-span-3 lg:col-span-2 dark:text-white">
    {{ else }}
    <div class="col-span-3 dark:text-white">
      {{ end }}
      <div class="bg-white dark:bg-warmgray-900 p-5 my-4 w-full">
         <!-- Back Arrow Button -->
  <button onclick="window.history.back()" aria-label="Go Back"
    class="mb-4 flex items-center transition">
    ⬅️
    Back
  </button>
  <br>

  <aside id="meta">
  {{ with .Params.tags }}
    <div id="tags" class="mb-4 flex flex-wrap items-center gap-2">
      <span style="font-size: 25px;">🏷️</span>
      {{ range . }}
        <a href='{{ "tags/" | absURL }}{{ . | urlize }}'
          class="box inline-block px-4 py-1 rounded  text-white text-sm font-semibold shadow transition mb-2 mr-2"
          style="background: linear-gradient(90deg, #6793d0, #4fade7);">
          {{ . }}
        </a>
      {{ end }}
    </div>
  {{ end }}
</aside>
        

  
          
              
            


        <!-- Title first -->
        <h1 class="title text-4xl font-bold mb-2">{{.Title}}</h1>
        <div class="flex flex-col-reverse md:flex-row items-start md:items-center justify-between mt-2 mb-4 gap-4">
  <!-- Left: Author -->
  <div class="flex items-center gap-2">
    <img
      src="https://avatars.githubusercontent.com/u/82930824?v=4"
      alt="Rajesh Bhola"
      width="40"
      height="40"
      class="rounded-full border-4 border-yellow-500 shadow-lg"
      style="object-fit: cover;"
    />
    <span class="ml-2 text-base">
      <a href="/bholacodecamp/about/" class="bhola-style">{{ .Params.author }}</a>
    </span>
  </div>
  <!-- Right: Published On -->
  <div class="text-base text-gray-600 dark:text-gray-300">
    <span>Published On:</span>
    <span class="bhola-style">{{ .Date | time.Format "02 Jan 2006" }}</span>
  </div>
</div>


        
        
           

        <!-- Image after title -->
        {{ if .Params.image }}
        <img class="py-4 rounded-lg max-w-full h-auto mx-auto" src="{{ .Params.image | absURL }}" alt="{{ .Title }}">
        {{ end }}

        {{ if and (and (.Site.Params.ad.googleAdSense) (.Site.Params.ad.postTop)) (.Site.Params.ad.adslot) }}
        <ins class="adsbygoogle" style="display:block" data-ad-client="{{.Site.Params.ad.googleAdSense}}"
          data-ad-slot="{{.Site.Params.ad.adslot}}" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ end }}

        <div class="prose md:prose-lg lg:prose max-w-none dark:prose-invert mt-5">{{.Content}}</div>

        {{ if and (and (.Site.Params.ad.googleAdSense) (.Site.Params.ad.postBottom)) (.Site.Params.ad.adslot) }}
        <ins class="adsbygoogle" style="display:block" data-ad-client="{{.Site.Params.ad.googleAdSense}}"
          data-ad-slot="{{.Site.Params.ad.adslot}}" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ end }}

        <aside id="meta">
          {{ with .Params.categories }}
          <hr class="py-2">
          <div id="categories">
            <span class="text-xl mr-1">📚</span>
            {{ range . }}
            <a href='{{ "categories/" | absURL }}{{ . | urlize }}'
          class="box inline-block px-4 py-1 rounded  text-white text-sm font-semibold shadow transition mb-2 mr-2"
          style="background: linear-gradient(90deg, #6793d0, #4fade7);">{{ . }}</a></span>
            {{ end }}
          </div>
          {{ end }}
        </aside>
      </div>
      <div class="bg-white dark:bg-warmgray-900 p-5 my-4 w-full">
        <div class="grid grid-cols-2">
          <div class="col-span-1">
            {{ with .PrevInSection }}
            <a class="previous lg:text-xl" href="{{.Permalink}}">
              <div
                class="transition-colors duration-300  h-auto m-3 text-center py-3 lg:py-1
                text-hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-warmgray-800">
                <span class="">⬅️</span> {{.Title}}
              </div>
            </a>
            {{ end }}
          </div>
          {{ with .NextInSection }}
          <a class="next lg:text-xl" href="{{.Permalink}}">
            <div
              class="transition-colors duration-300 col-span-1  h-auto m-3 text-center py-3 lg:py-1
              text-hover:text-blue-500 hover:bg-gray-100 dark:hover:bg-warmgray-800">
              {{.Title}} <span class="">➡️</span>
            </div>
          </a>
          {{ end }}
        </div>
      </div>
      
    </div>
    {{ if .Site.Params.widgets.display }}
    {{ partial "widgets.html" . }}
    {{ end }}
  </div>
</div>
{{ end }}

